<!DOCTYPE html>
<html>
<head>
  <title>Racqboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= current_user.email %>
  <%= link_to 'Cambiar contraseña', edit_user_registration_path %>
  <%= link_to 'Cerrar sesión', destroy_user_session_path, :method => :delete %>
<% end %>

<%= yield %>

</body>
</html>
